@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  box-sizing: border-box;
  font-family: 'Roboto',Arial,sans-serif;
  margin:0;
}

/* styling the header*/
.header{
  display:flex;
  justify-content:space-between;
  padding:20px 180px;
  background-color: #1f2937;
  align-items: center;
}

.header-links{
  display:flex;
  gap:30px;
}
.header-logo{
  color:#f9faf8;
  font-size: 24px;
}

.header-links a{
  text-decoration: none;
  color:#fff;
}


/* styling the main content(above the header) */
.content-1{
  background-color: #1f2937;
  display:flex;
  padding:100px 180px;
  gap:20px;
  align-items: center;
}

.img-content-1{
  display:flex;
  width: 50%;
}

.container-content-1-left{
  width: 50%;
  display:flex;
  flex-direction: column;
  gap:15px;
  align-items: flex-start;
}
.main-title{
  font-size:48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.main-description{
  font-size: 18px;
  color:#e5e7eb;
}

.main-signup{
  text-decoration: none;
  color: #fff;
  background-color: #3882F6;
  padding: 8px 15px;
  border-radius: 6px;
}

.img-content-1 img{
  width: 100%;
}

/* content with photos above the main content */

.content-2{
  display:flex;
  flex-direction: column;
  padding: 30px 250px;
  padding-bottom: 80px;
  justify-content: center;
  gap:40px;
}
.title-content-2{
  text-align: center;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.section-photos{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

}
.photo-description{
  display:flex;
  flex-direction: column;
  width: 150px;
  gap:10px;
}

.photo{
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 14px;
}
.photo-description img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.description-content-2{
  text-align: center;
}

/* quote section */

.quote-content{
  display: flex;
  flex-direction: column;
  padding: 100px 180px 100px  180px;
  background-color: #e5e7eb;
  gap:15px;
}

.quote{
  font-size: 36px;
  font-weight:lighter;
  font-style: italic;
  color: #1f2937;
}

.author{
  font-size: 28px;
  align-self: flex-end;
  margin-right: 40px;
  font-weight: bold;
}